<section class="container team-section my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Thông tin về nhóm</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5 description-team">Chúng tôi là những kỹ sư CNTT của trực thuộc VNPT.</p>

    <!-- Grid row-->
    <div class="row text-center text-md-left">

        <!-- Grid column -->
        <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between wrap-member">
            <div class="avatar mb-md-0 mb-4 mx-4">
                <img src="../../../assets/home/images/phanvanro.jpg" class="rounded z-depth-1" alt=" Vien thong hau giang">
            </div>
            <div class="mx-4">
                <h4 class="font-weight-bold mb-3">Phan Văn Rở</h4>
                <h6 class="font-weight-bold grey-text mb-3">Viễn Thông Hậu Giang</h6>
                <p class="grey-text">Chỉ thích cà phê nhưng không thích la cà, chẳng biết quánh bi a
                </p>
                <!-- Facebook-->
                <a class="p-2 fa-lg fb-ic">
                    <i class="fa fa-facebook"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg tw-ic">
                    <i class="fa fa-twitter"> </i>
                </a>
                <!--Dribbble -->
                <a class="p-2 fa-lg dribbble-ic">
                    <i class="fa fa-dribbble"> </i>
                </a>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between wrap-member">
            <div class="avatar mb-md-0 mb-4 mx-4">
                <img src="../../../assets/home/images/chuhien.jpg" class="rounded z-depth-1" alt="Chu thuy hien">
            </div>
            <div class="mx-4">
                <h4 class="font-weight-bold mb-3">Chu Thúy Hiền</h4>
                <h6 class="font-weight-bold grey-text mb-3">VNPT-IT</h6>
                <p class="grey-text">Thích du lịch, thích mua sắm, tiền thì quá nhiều không bận tâm.
                </p>
                <!-- Facebook-->
                <a class="p-2 fa-lg fb-ic">
                    <i class="fa fa-facebook"> </i>
                </a>
                <!--YouTube -->
                <a class="p-2 fa-lg yt-ic">
                    <i class="fa fa-youtube"> </i>
                </a>
                <!--Instagram-->
                <a class="p-2 fa-lg ins-ic">
                    <i class="fa fa-instagram"> </i>
                </a>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row text-center text-md-left">

        <!-- Grid column -->
        <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between wrap-member">
            <div class="avatar mb-md-0 mb-4 mx-4">
                <img src="../../../assets/home/images/vodonggiang.jpg" class="rounded z-depth-1" alt="Vo dong giang" style="height: 200px;">
            </div>
            <div class="mx-4">
                <h4 class="font-weight-bold mb-3">Võ Đông Giang</h4>
                <h6 class="font-weight-bold grey-text mb-3">VNPT-ĐỒNG THÁP</h6>
                <p class="grey-text">Buổi sáng không thích gì chỉ thích uống trà và thích ngắm hoa.
                </p>
                <!-- Facebook-->
                <a class="p-2 fa-lg fb-ic">
                    <i class="fa fa-facebook"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg tw-ic">
                    <i class="fa fa-twitter"> </i>
                </a>
                <!-- GitHub-->
                <a class="p-2 fa-lg git-ic">
                    <i class="fa fa-github"> </i>
                </a>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-6 col-lg-12 d-md-flex justify-content-between wrap-member">
            <div class="avatar mb-md-0 mb-4 mx-4">
                <img src="../../../assets/home/images/kimthanhvu.jpg" class="rounded z-depth-1 img-fluid" alt="Kim thanh vu">
            </div>
            <div class="mx-4">
                <h4 class="font-weight-bold mb-3">Y Kim Thành Vũ</h4>
                <h6 class="font-weight-bold grey-text mb-3">VNPT- ĐỒNG NAI</h6>
                <p class="grey-text"> Thích du lịch trãi nghiệm, đam mê tốc độ trên các cung đường dài .
                </p>
                <!-- Google +-->
                <a class="p-2 fa-lg gplus-ic">
                    <i class="fa fa-google-plus"> </i>
                </a>
                <!--LinkedIn -->
                <a class="p-2 fa-lg li-ic">
                    <i class="fa fa-linkedin-in"> </i>
                </a>
                <!--Email-->
                <a class="p-2 fa-lg email-ic">
                    <i class="fa fa-envelope"> </i>
                </a>
            </div>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->

</section>