
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


button {
    background-color: transparent;
    background-image: none;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'product sans';
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    line-height: 1.5;
}


*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}

hr {
    border-top-width: 1px;
}

img {
    border-style: solid;
}

textarea {
    resize: vertical;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #a0aec0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #a0aec0;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #a0aec0;
}

input::placeholder,
textarea::placeholder {
    color: #a0aec0;
}


button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}



button,
[role="button"] {
    cursor: pointer;
}


button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

.bold-text {
    font-weight: 600;
    font-size: 1.4rem;
}

.m-auto {
    margin: auto;
}

.custom-container {
    max-width: 100rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin-top: 2.5rem !important;
}

.search-country {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.welcome {
    text-align: left;
    line-height: 1.625;
    margin-left: 1rem;
}

.search {
    text-align: left;
}

.flex {
    display: -webkit-box;
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.input-search {
    background-color: #f7fafc;
    outline: 0;
    border: none;
    padding: 0.5rem;
}

.search-button {
    margin: 0;
    cursor: pointer;
    background-color: #fc8181;
    text-transform: uppercase;
    padding: 0.5rem;
}

.rounded-r {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.text-left {
    text-align: left;
}

.country-info {
    background-color: #f7fafc;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000 !important;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    text-align: center;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.text-indigo-700 {
    color: #4c51bf;
}

.text-4xl {
    font-size: 2.25rem;
    font-weight: 600;
}

.text-sm {
    font-size: 1rem;
    font-weight: 600;
}

.text-sm1 {
    font-size: 1.4rem;
    font-weight: 700;
}

.my-6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.center-text {
    width: 50%;
    padding: 10px;
}

.text-red {
    color: red;
}

.bg-white {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000 !important;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    text-align: center;
}

.chart-custom {
    background-color: #f7f7f7;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
}

.w-full {
    max-width: 100%;
}

.leading-relaxed {
    line-height: 1.625;
}

.doctor-img {
    border-radius: 9999px;
    width: 12rem;
}

.tag-number {
    border-radius: 0.5rem;

}

.bg-red-300 {
    background-color: #feb2b2;
}

.bg-indigo-300 {
    background-color: #a3bffa;
}

.bg-yellow-300 {
    background-color: #faf089;
}

.flex {
    display: flex;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.md\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.justify-evenly {
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
}

.img-icon {
    border-radius: 9999px;
    width: 3rem;
    padding: 0.5rem;
    margin: 0 auto;
}

.text-gray-700 {
    color: #4a5568;
}

.sections {
    max-width: 72rem;
    border-radius: 0.25rem;
    margin-bottom: 4rem;
    margin: 1rem;
    margin-top: 2.5rem;
    margin: auto;
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.section-select {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
    line-height: 1.625;
    text-transform: uppercase;
}

.bg-indigo-600 {
    background-color: #5a67d8;
}

.bg-red-400 {
    background-color: #fc8181;
}

.w-16 {
    width: 4rem;
}

.item-custom {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0.5rem;
    background-color: #edf2f7;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

.ng-autocomplete{
    width:100%;
    
}
a:not([href]):not([class]):hover{
    color: red;
}