<div class="custom-container container m-auto">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="row search-country">
                <div class="col-sm-6 col-12">
                    <div class="welcome bold-text">
                        Tra cứu <br />
                        tình hình COVID-19 🙌
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="search pl-3">
                        <div class="ng-autocomplete">
                            <ng-autocomplete [data]="countries" [searchKeyword]="keyword"
                                placeHolder="Nhập tên quốc gia" (selected)='selectEvent($event)'
                                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                historyIdentifier="countries" [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>


                            <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 px-4 ml-2">
                <div class="row country-info">
                    <div class="col-xs-6 center-text">
                        <div class="m-auto mx-3">
                            <div class="text-indigo-700 text-4xl ">
                                {{ country | uppercase }}
                            </div>
                            <div class="text-sm">
                                Cập nhật lần cuối
                                <span class="text-red">"{{ lastUpdate | date }}"</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="m-auto text-center mx-3" style="width: 12rem;">
                            <img class="w-full" src="../../../assets/home/images/undraw_medicine_b1ol.svg" alt="" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="mt-5  ml-2 chart-custom">
                <div class="row pt-3">
                    <div class="col-md-6 col-12">
                        <div class="bg-white mt-3">
                            <div class="mt-1 flex flex-wrap flex-row">
                                <div class="m-auto text-sm">Tình hình dịch</div>
                                <div class="m-auto text-indigo-700 text-sm">THẾ GIỚI</div>
                            </div>
                            <div class="my-6 m-auto w-full">
                                <div class="">
                                    <canvas style="display: block ; height: 2rem; " baseChart
                                        [data]="globalDoughnutChartData" [labels]="globalDoughnutChartLabels"
                                        [chartType]="globalDoughnutChartType">
                                    </canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="bg-white mt-3">
                            <div class="mt-1 flex flex-wrap flex-row">
                                <div class="m-auto text-sm">Tình hình dịch</div>
                                <div class="m-auto text-indigo-700 text-sm"> {{ country | uppercase }}</div>
                            </div>
                            <div class="my-6 m-auto w-full">
                                <div class="">
                                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4 col-12">
            <div class="w-full text-center">
                <section>
                    <div class="m-auto">
                        <div class="text-indigo-700 text-center text-sm">
                            Xem thông tin nổi bật
                        </div>
                        <img class="doctor-img rounded-full m-auto w-48" src="../../../assets/home/images/doctor.png" />
                        <div class="text-black text-sm text-center">
                            Tổ chức y tế thế giới
                        </div>
                        <div class="text-indigo-700 text-sm text-center">@Corona</div>
                        <div class="mt-1 flex flex-col flex-wrap mx-6">
                            <div
                                class="flex bg-red-300 rounded-lg py-4 px-4 md:px-0 mt-3 flex-wrap flex-row justify-evenly">
                                <img src="../../../assets/home/images/peo.png" class="img-icon" />
                                <div class="m-auto flex flex-col">
                                    <div class="m-auto text-sm1">Số ca</div>
                                    <div class="m-auto text-sm text-gray-700">
                                        Cập nhật: {{ lastUpdate | date }}
                                    </div>
                                </div>
                                <div [countUp]="confirmedValue" [options]="options" class="m-auto text-sm1 text-2xl">
                                    0
                                </div>
                            </div>

                            <div
                                class="flex bg-indigo-300 rounded-lg py-4 px-4 md:px-0 mt-3 flex-wrap flex-row justify-evenly">
                                <img src="../../../assets/home/images/stethoscope.png" class="img-icon" />
                                <div class="m-auto flex flex-col">
                                    <div class="m-auto text-sm1">Phục hồi</div>
                                    <div class="m-auto text-sm text-gray-700">
                                        Cập nhật: {{ lastUpdate | date }}
                                    </div>
                                </div>
                                <div [countUp]="recoveredValue" [options]="options" class="m-auto text-sm1 text-2xl">
                                    0
                                </div>
                            </div>
                            <div
                                class="flex bg-yellow-300 rounded-lg py-4 px-4 md:px-0 mt-3 flex-wrap flex-row justify-evenly">
                                <img src="../../../assets/home/images/cartoon-skull.png" class="img-icon" />
                                <div class="m-auto flex flex-col">
                                    <div class="m-auto text-sm1">Chết</div>
                                    <div class="m-auto text-sm text-gray-700">
                                        Updated: {{ lastUpdate | date }}
                                    </div>
                                </div>
                                <div [countUp]="deathsValue" [options]="options" class="m-auto text-sm1 text-2xl">
                                    0
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

    <section class="sections">
        <div class="flex justify-center mb-2">

            <div class="text-center mt-4 mr-2">
                <button [routerLink]="['/tinh-hinh/precautions']" routerLinkActive="router-link-active"
                    class="section-select bg-red-400 text-sm text-black">
                    Biện pháp
                </button>
            </div>
            <div class="text-center mt-4">
                <button [routerLink]="['/tinh-hinh/symptoms']" routerLinkActive="router-link-active"
                    class="section-select bg-indigo-600 text-sm text-white">
                    Triệu chứng
                </button>
            </div>
        </div>
        <router-outlet></router-outlet>

    </section>

</div>