<!-- Latest compiled and minified CSS & JS -->
<header>
<div class="container">
    <div class="row hidden-xs">
        <div class="col-xs-9">
            <a class="pull-left logo" [routerLink]="[ '/']"><img height="75"
                    src="/assets/home/images/logo_byt.png" alt=""></a>
            <div class="slogan">
                <h4>BỘ Y TẾ</h4>
                <h2>TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19 SARS</h2>

            </div>
        </div>
        <div class="col-xs-3">
            <div class="pull-right text-center mt-15">
                Đường dây nóng <br>
                <!--<i class="fas fa-phone-alt mr-5 text-warning1"></i>--><a class="hotline"
                    href="tel:19009095">19009095</a>

            </div>
        </div>
    </div>
</div>
</header>