<div class="row justify-center">
    <div class="col-md-3 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_know.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Know How it Spreads</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_handwash.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Clean your hands often</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_close.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Avoid close contact</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_resthome.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Stay home if you’re sick</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_cover.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Cover coughs and sneezes</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_mask.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Wear a facemask feel sick</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_clean.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Clean and disinfect</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_know.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Know
                more +</p>
        </div>
    </div>
</div>