<div class="row justify-center">
    <div class="col-md-3 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_know.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Biết cách nó lây lan</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_handwash.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Rửa tay thường xuyên</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_close.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Tránh tiếp xúc gần</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_resthome.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Ở nhà nếu cảm thấy mệt</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_cover.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Che tay khi hắt hơi</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_mask.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Đeo khẩu trang y tế</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_clean.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Làm sạch và khử trùng</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/p_know.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm"><a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html" target="_blank">Xem nhiều hơn +</a></p>
        </div>
    </div>
</div>