<div class="row justify-center">
    <div class="col-md-4 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s1.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Sốt cao</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s2.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Đau họng</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s3.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Mệt mỏi</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s4.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Đau đầu</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s5.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Ho</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s6.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Khó thở</p>
        </div>
    </div>
    
</div>