<div class="row justify-center">
    <div class="col-md-4 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s1.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">High Temperature</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s2.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Sore Throat</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s3.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Fatigue</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s4.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Headache</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 ">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s5.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Cough</p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="item-custom text-center">
            <img src="../../../assets/home/images/s6.png" class="w-16 mx-auto" alt="">
            <p class="py-2 text-sm">Shortness of Breath</p>
        </div>
    </div>
    
</div>